@font-face {
  font-family: "Gilroy";
  src: url("gilroy-heavy-webfont.woff2") format("woff2"),
    url("gilroy-heavy-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("gilroy-bold-webfont.woff2") format("woff2"),
    url("gilroy-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("gilroy-medium-webfont.woff2") format("woff2"),
    url("gilroy-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("gilroy-regular-webfont.woff2") format("woff2"),
    url("gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.c1-takeover-banner a {
  background: none;
  border: none;
  outline: inherit;
  padding: 0;
  text-decoration: none;
}

.c1-takeover-banner .btn-gradient {
  border-radius: 20px;
  display: block;
  height: 46px;
  padding: 2px;
}

.c1-takeover-banner .btn-gradient__inner {
  align-items: center;
  background-color: #010103;
  border-radius: 20px;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 0 24px;
  text-align: center;
  text-transform: uppercase;
}

.c1-takeover-banner .btn-gradient--blue {
  background: linear-gradient(
    90deg,
    rgba(0, 151, 255, 0) 0%,
    #00e0ff 40%,
    #219af2 60%,
    rgba(99, 33, 242, 0) 100%
  );
}

.c1-takeover-banner-body {
  margin: 0;
  padding: 0;
}

.c1-takeover-banner {
  overflow: hidden;
  margin: 0 auto;
}

.c1-takeover-banner,
.c1-takeover-banner * {
  box-sizing: border-box;
}

.c1-takeover-banner h1,
.c1-takeover-banner h2,
.c1-takeover-banner h3,
.c1-takeover-banner h4,
.c1-takeover-banner h5,
.c1-takeover-banner h6,
.c1-takeover-banner p,
.c1-takeover-banner a,
.c1-takeover-banner small {
  font-family: "Gilroy";
  color: #fff;
  margin: 0;
}

.c1-takeover-banner {
  background-color: #000;
  background-image: url("./bg-mobile.jpg");
  background-position: bottom center;
  background-size: cover;
  padding: 44px 54px;
}

.c1-takeover-banner .logo {
  text-align: center;
}

.c1-takeover-banner .logo > img {
  margin: 0 auto;
  max-width: 145px;
  width: 100%;
}

.c1-takeover-banner .title {
  margin-top: 26px;
  text-align: center;
}

.c1-takeover-banner .title > img {
  margin: 0 auto;
  max-width: 516px;
  width: 100%;
}

.c1-takeover-banner .description {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.12em;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.c1-takeover-banner .product {
  margin-top: 16px;
  text-align: center;
}

.c1-takeover-banner .product__mobile {
  margin: 0 auto;
  max-width: 565px;
  width: 100%;
}

.c1-takeover-banner .product__desktop {
  display: none;
}

.cta {
  margin-top: 26px;
}

.cta a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.12em;
  max-width: 325px;
  margin: 0 auto;
}

@media (min-width: 520px) {
  .c1-takeover-banner .description {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .c1-takeover-banner {
    background-image: url("./bg-desktop.jpg");
    background-position: center;
    padding: 26px 54px;
  }

  .c1-takeover-banner .logo > img {
    max-width: 125px;
  }

  .c1-takeover-banner .title > img {
    max-width: 926px;
  }

  .c1-takeover-banner .description {
    font-size: 28px;
  }

  .c1-takeover-banner .product__mobile {
    display: none;
  }

  .c1-takeover-banner .product__desktop {
    display: block;
    margin: 0 auto;
    max-width: 903px;
    width: 100%;
  }
}
