@font-face {
  font-family: "Gilroy";
  src: url("gilroy-heavy-webfont.woff2") format("woff2"),
    url("gilroy-heavy-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("gilroy-bold-webfont.woff2") format("woff2"),
    url("gilroy-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("gilroy-medium-webfont.woff2") format("woff2"),
    url("gilroy-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("gilroy-regular-webfont.woff2") format("woff2"),
    url("gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vogatron";
  src: url("vogatron-semibold-webfont.woff2") format("woff2"),
    url("vogatron-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.pof-takeover-banner-body {
  margin: 0;
  padding: 0;
}

.pof-takeover-banner a {
  background: none;
  border: none;
  outline: inherit;
  padding: 0;
  text-decoration: none;
}

.pof-takeover-banner .btn-gradient {
  background: linear-gradient(
    51deg,
    rgba(255, 122, 0, 0) 0%,
    rgba(255, 122, 0, 0.8) 25%,
    rgba(255, 95, 4, 0.8) 75%,
    rgba(255, 209, 119, 0) 100%
  );
  color: white;
  border-radius: 20px;
  display: block;
  font-family: "Gilroy";
  font-weight: 600;
  letter-spacing: 6.4px;
  height: 56px;
  padding: 2px;
}

.pof-takeover-banner .btn-gradient__inner {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 0 24px;
  text-transform: uppercase;
  text-align: center;
}

.pof-takeover-banner h1,
.pof-takeover-banner h2,
.pof-takeover-banner h3,
.pof-takeover-banner h4,
.pof-takeover-banner h5,
.pof-takeover-banner h6 {
  font-family: "Gilroy";
  color: #fff;
  margin: 0;
}

.pof-takeover-banner {
  overflow: hidden;
  margin: 0 auto;
}

.pof-takeover-banner,
.pof-takeover-banner * {
  box-sizing: border-box;
}

.pof-takeover-banner {
  background-color: #000a13;
  background-image: url("./pof-bg.png");
  background-position: center;
  background-size: cover;
  padding: 66px 24px 60px;
  text-align: center;
}

.pof-takeover-banner__heading h2 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 12.8px;
  left: 6.4px;
  position: relative;
  text-transform: uppercase;
}

.pof-takeover-banner__heading span {
  display: block;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 8.4px;
  left: 4.2px;
  position: relative;
  text-transform: uppercase;
}

.pof-takeover-banner__title img {
  max-width: 1043px;
  margin: 0 auto;
  width: 100%;
}

img.pof-takeover-banner__elements__mobile {
  margin: 0 auto;
  max-width: 622px;
  width: 100%;
}

img.pof-takeover-banner__elements__desktop {
  display: none;
}

.pof-takeover-banner__cta {
  margin-top: 24px;
  max-width: 650px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  img.pof-takeover-banner__elements__mobile {
    display: none;
  }

  img.pof-takeover-banner__elements__desktop {
    display: block;
    max-width: 720px;
    margin: -70px auto 0;
    width: 100%;
  }

  .pof-takeover-banner__cta {
    margin-top: 24px;
  }

  .pof-takeover-banner__heading h2,
  .pof-takeover-banner__heading span {
    display: inline-block;
    font-size: 35px;
    letter-spacing: 14px;
    left: 0;
  }
}

@media (min-width: 991px) {
  img.pof-takeover-banner__elements__desktop {
    max-width: 943px;
    margin: -90px auto 0;
  }
}

@media (min-width: 1300px) {
  img.pof-takeover-banner__elements__desktop {
    max-width: 1252px;
    margin: -112px auto 0;
  }
}

@media (min-width: 1400px) {
  img.pof-takeover-banner__elements__desktop {
    max-width: 1327px;
    margin: -117px auto 0;
  }
}
