---
import Layout from "@/layout.astro";
---

<Layout>
  <section id="about" class="py-10">
    <div class="container">
      <h2 class="font-bold text-2xl sm:text-4xl">About Me</h2>

      <p class="mt-4 opacity-80 text-sm sm:text-base">
        Hi! I'm <strong>Nikko</strong>, a passionate Fullstack Developer based
        in Dubai. I specialize in building web and mobile applications using
        technologies like TypeScript, JavaScript, RemixJS, and Flutter.
      </p>

      <p class="mt-4 opacity-80 text-sm sm:text-base">
        In my spare time, I enjoy playing the guitar, exploring new music
        genres, and experimenting with different guitar tones. I’m always
        excited to learn about new technologies and find innovative solutions to
        challenging problems.
      </p>
    </div>
  </section>
</Layout>
